.previousButton , .scrollToTop {
    border: none;
    background-color: #001f6ce1;
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
.scrollToTop{
    margin-left: 30%;
}
.card {
    background-color: rgb(0, 30, 66);
    color: #fff;
    border-color: rgb(0, 21, 63);
    align-items: center;
}
  .card-body{
    margin-left: 20px;
  }
  .action-cntainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .img-fluid{
    margin: 20px;
    border-radius: 2px;
  }
  
  @media (max-width: 767px) {
    .img-fluid{
      margin: 0px;
      border-radius: 2px;
    }
  }
  
  @media(max-width: 365px){
    .card {
      padding: 2px; 
      margin: 2px; 
      align-items: center;
    }
  
    .card-title {
      font-size: 0.9rem; 
    }
  
    .card-text {
      font-size: 0.8rem; 
      padding: 5px;
    }
  }

