<!-- Botão de Voltar -->
<div class="button">
  <button (click)="previousPage()" class="previousButton">
    <img src="../../../../assets/img/arrow_left.png" alt="Voltar">
    Voltar
  </button>
</div>

<!-- Exibição dos Cards -->
<div class="card-container" *ngIf="productsCards.length > 0">
  <div *ngFor="let product of productsCards" class="card">
    <mat-card>
      <mat-card-content class="card-content">
        <img
          mat-card-image
          [src]="product.imagem ? 'data:image/jpeg;base64,' + product.imagem : '../../../assets/img/imgteste.png'"
          class="img-fluid"
          alt="{{ product.name }}"
        />
        <div class="card-item">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description || 'Descrição não disponível' }}</p>
          <p class="card-text">
            <small>{{ product.price | currency: 'BRL':'symbol':'1.2-2' }}</small>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Navegação de Páginas -->
<div class="pagination" *ngIf="totalPages > 1">
  <button (click)="previous()" [disabled]="currentPage === 0" class="pagination-button">Anterior</button>
  <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
  <button (click)="next()" [disabled]="currentPage === totalPages - 1" class="pagination-button">Próxima</button>
</div>

<!-- Botão para voltar ao topo -->
<div class="button-container">
  <button (click)="scrollToTop()" class="scrollToTop">
    <img src="../../../../assets/img/arrow_upward.png" alt="Voltar ao topo">
    Voltar ao topo
  </button>
</div>
