<button (click)="previous()" class="previousButton">
  <fa-icon [icon]="faArrowLeft" class="faArrowLeft"></fa-icon>
  Voltar
</button>

<div class="card-container">
  <div class="card" *ngFor="let product of productsCards">
    <img 
      [src]="product.imagem ? 'data:image/jpeg;base64,' + product.imagem : '../../../assets/img/imgteste.png'" 
      class="card-img-top" 
      alt="{{ product.name }}"
    >
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text"> {{ product.description }}</p>
      <p class="card-price">{{ product.price | currency:'BRL' : 'symbol' : '1.2-2' }}</p>
       <!-- <div class="action-container">
          <a href="#" class="btn btn-add">Adicionar 
            <img src="../../../assets/img/icons8-shopping-cart-48.png" id="carrinho" alt="Logo">
          </a>
          <div class="quantity-container">
            <p class="card-text quantity-label">Quantidade:</p>
            <div class="quantity-controls">
              <a href="#" class="btn">+</a> 
              <a href="#" class="btn">-</a>
            </div>
          </div>
        </div>  -->
    </div>
  </div>
</div>