<!--<p>image-slider works!</p>-->

<div class="slides">
  <!-- Slide atual -->
  <div 
    class="slide" 
    [ngStyle]="{
      'background-image': 'url(' + slides[currentSlide].url + ')',
      'opacity': hidden ? 0 : 1,
      'transition': 'opacity ' + animationSpeed + 'ms ease-in-out'
    }"
  >
  </div>

  <!-- Indicadores -->
  <div id="indicators" *ngIf="indicatorsVisible">
    <div 
      *ngFor="let slide of slides; let i = index"
      (click)="jumpToSlide(i)"
      class="indicator" 
      [ngClass]="{ 'active': i === currentSlide }"
    >
    </div>
  </div>

  <!-- Botões de navegação -->
  <button (click)="next()" class="nextButton">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </button>
  
  <button (click)="previous()" class="previousButton">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
</div>
