   <div>
    <h2 class="products">Promoções do dia</h2>
    <app-card-product-promotion></app-card-product-promotion>
    <button (click)="next()" class="nextButton" routerLink="/listPromotion"> Ver mais
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  
    <div class="card-product-container">
      <div class="card-product">
        <h2 class="products">Produtos</h2>
        <app-card-product></app-card-product>
      </div>
      <button (click)="nextList()" class="nextButton" routerLink="/list"> Ver mais
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>
    </div>
  </div>