<div class="container">
  <h2 class="products">Promoções do dia</h2>
  <app-card-product-promotion></app-card-product-promotion>
  <div class="d-flex justify-content-end">
    <button (click)="next()" class="nextButtonPromotion" routerLink="/listPromotion">
      Ver mais  <img src="../../../assets/img/arrow_right.png" alt="">
    </button>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward" />
  </div>
  
  <h2 class="products">Categorias</h2>
  <app-filter-buttons></app-filter-buttons>

  <div class="d-flex justify-content-end"> 
    <button (click)="nextButtonsCategory()" class="nextButtonCategory" routerLink="/listCategorySlice">
      Ver mais <img src="../../../assets/img/arrow_right.png" alt="">
    </button>
  </div>
</div>
