.footer {
    background-color: #f8f8f8;
    padding: 20px;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    text-align: center;
  }
  
  .footer .footer-link {
    text-decoration: none;
    color: #555;
    text-align: center;
  }
  