<mat-toolbar class="footer">
    <span> 
        <img class="logo" src="../../../assets/img/g3logo.png" alt="g3Tecnologia Logo">
    </span>
    <span class="example-spacer"></span>
    <a href="https://www.instagram.com/g3tecnologiaoficial?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" mat-icon-button aria-label="Site" target="_blank">
      <img src="../../../assets/img/icons8-instagram-logo-48.png" alt="Site">
   </a>
    <a href="https://www.g3tecnologia.com.br/" mat-icon-button aria-label="Site" target="_blank">
      <img src="../../../assets/img/icons8-site-48.png" alt="Site">
  </a>
</mat-toolbar>
  
