<div class="container">
  <div class="left-container">
      <div class="top-div">
          <app-header></app-header>
      </div>

      <div class="carousel">
        <app-image-slider
        [indicatorsVisible]="true"
        [animationSpeed]="200"
        [slides]="slides"
        [autoPlay]="true"
        [autoPlaySpeed]="5000"
        ></app-image-slider>
      </div>

      <div class="card-product"> 
         <app-card-product> </app-card-product>
      </div>
  
      <div class="footer-div">
         <app-footer></app-footer>
      </div>
  </div>
</div>