<div class="card-container">
  <div *ngFor="let product of productsOnSale | slice:0:3"  class="card">
      <mat-card>
          <mat-card-content class="card-content">
            <img mat-card-image
            [src]="product.imagem ? 'data:image/jpeg;base64,' + product.imagem : '../../../assets/img/imgteste.png'"
            class="img-fluid" alt="{{ product.name }}" loading="lazy">
              <div class="card-item">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text"><small>{{ product.price | currency:'BRL' : 'symbol' : '1.2-2' }}</small></p>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>

