<div class="card mb-3" style="max-width: 540px;" *ngFor="let product of productsOnSale | slice :0:4; let i = index">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="product.imagem ? 'data:image/jpeg;base64,' + product.imagem : '../../../assets/img/imgteste.png'"
        class="img-fluid" alt="{{ product.name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small>{{ product.price | currency:'BRL' : 'symbol' : '1.2-2' }}</small></p>
        <div class="action-container">
        <a href="#" class="btn btn-add">Adicionar 
          <img src="../../../../assets/img/shopping-cart.png" id="carrinho" alt="Logo">
        </a>
        <div class="quantity-container">
          <p class="card-text quantity-label">Quantidade:</p>
          <div class="quantity-controls">
            <a (click)="increaseQuantity(i)" class="btn">+</a> 
            <span class="resulQuantity">{{ quantities[i] }}</span>
            <a (click)="decreaseQuantity(i)" class="btn">-</a>
          </div>
        </div>
      </div>
<div class="row">
  <div class="col-md-6" *ngFor="let product of productsOnSale | slice:0:4; let i = index">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="product.imagem ? 'data:image/jpeg;base64,' + product.imagem : '../../../assets/img/imgteste.png'" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><small>{{ product.price | currency:'BRL' : 'symbol' : '1.2-2' }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>