
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.previousButton {
  border: none;
  background-color: #f3f3f3f3;
  font-size: 15px;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
}

.previousButton .faArrowLeft {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Resetando margens e padding */
.title {
  color: #0030ab;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
  font-size: 1.8rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #f3f3f3;
  margin: 10px; 
  flex: 1 1 200px;
  max-width: 300px; 
}


.card-content {
  display: flex;
  align-items: center;
}

.card-item {
  flex: 1;
  padding: 10px;
}

img {
  width: 100px; 
  height: auto;
  margin-right: 10px; 
}

img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .title {
    font-size: 1.2rem;
  }

  img {
    width: 80px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1rem;
  }

  .card {
    flex: 1 1 100%;
    max-width: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #d7d7d7;
  color: #000000;
  padding: 10px 20px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.2rem;
  margin: 0 10px;
}

.price-container {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.card-text-price {
  font-size: 14px;
  color: #ee0707;
  margin: 0;
  text-decoration: line-through;
}

.card-text-promocao {
  color: rgb(0, 210, 0);
  font-weight: 600;
  font-size: 1rem;
}

