<div class="card" style="width: 18rem;">
  <img src="../../../assets/img/imgteste.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Produto</h5>
    <p class="card-text">Descrição: Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, maiores aut</p>
    
    <!-- <div class="action-container">
      <a href="#" class="btn btn-add">Adicionar 
        <img src="../../../assets/img/icons8-shopping-cart-48.png" id="carrinho" alt="Logo">
      </a>
      <div class="quantity-container">
        <p class="card-text quantity-label">Quantidade:</p>
        <div class="quantity-controls">
          <a href="#" class="btn">+</a> 
          <a href="#" class="btn">-</a>
        </div>
      </div>
    </div> -->
  </div>
</div>


  