.header {
    display: flex;
    align-items: center;
    z-index: 1000;
    position: relative;
  }  

  
  .header h2 {
    margin-right: 10px;
    font-weight: 700;
  }
  
  .header .title-group {
    padding-left: 25px;
  }
  
  .header .title-group i {
    padding-right: 5px;
  }
  
  .header .imgCardapio img {
    max-height: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .example-icon {
    margin-right: 10px;
  }
  